<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BTW - Light The Traffic</title>
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="shortcut icon" href="../images/favicon.png"/>
</head>

<body>
<div class=" container-scroller">
    <!-- partial:../partials/_navbar.html -->
    <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="bg-white text-center navbar-brand-wrapper">
            <a class="navbar-brand brand-logo" href="../index.html"><img src="../images/logo_star_black.png"/></a>
            <a class="navbar-brand brand-logo-mini" href="../index.html"><img src="../images/logo_star_mini.jpg" alt=""></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3"
                    type="button" data-toggle="minimize">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form class="form-inline mt-2 mt-md-0 d-none d-lg-block">
                <input class="form-control mr-sm-2 search" type="text" placeholder="Search">
            </form>
            <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">

            </ul>
            <button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <!-- partial -->
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:../partials/_sidebar.html -->
            <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
                <div class="user-info">
                    <img src="../images/face.jpg" alt="">
                    <p class="name">Richard V.Welsh</p>
                    <p class="designation">Manager</p>
                    <span class="online"></span>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="../index.html">
                            <img src="../images/icons/1.png" alt="">
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="../images/icons/10.png" alt="">
                            <span class="menu-title">Settings</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- partial -->
            <div class="content-wrapper">

                <br>
                <br>
                <h3 class="page-heading mb-4">Time Loss</h3>

                <div class="progress progress-slim">
                    <div class="progress-bar bg-success-gadient" role="progressbar" style="width: 100%"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <br>
                <h4 class="page-heading mb-4">{{Algo_1}}</h4>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-success">{{TotalTimeLoss_1}}</h4>
                                <h6 class="card-subtitle mb-4">Total</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-success-gadient" role="progressbar"
                                         style="{{TotalTimeLossBar_1}}" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-half float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-info">{{AverageTimeLoss_1}}</h4>
                                <h6 class="card-subtitle mb-4">Average</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-info-gadient" role="progressbar"
                                         style="{{AverageTimeLossBar_1}}" aria-valuenow="40" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-start float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-warning">{{MaxTimeLoss_1}}</h4>
                                <h6 class="card-subtitle mb-4">Max</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-warning-gadient" role="progressbar"
                                         style="{{MaxTimeLossBar_1}}" aria-valuenow="25" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-end float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-danger">{{MinimumTimeLoss_1}}</h4>
                                <h6 class="card-subtitle mb-4">Min</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-danger-gadient" role="progressbar"
                                         style="{{MinimumTimeLossBar_1}}" aria-valuenow="65" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="{{AlgoNum_1}}">

                <h4 class="page-heading mb-4">{{Algo_2}}</h4>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-success">{{TotalTimeLoss_2}}</h4>
                                <h6 class="card-subtitle mb-4">Total</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-success-gadient" role="progressbar"
                                         style="{{TotalTimeLossBar_2}}" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-half float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-info">{{AverageTimeLoss_2}}</h4>
                                <h6 class="card-subtitle mb-4">Average</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-info-gadient" role="progressbar"
                                         style="{{AverageTimeLossBar_2}}" aria-valuenow="40" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-start float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-warning">{{MaxTimeLoss_2}}</h4>
                                <h6 class="card-subtitle mb-4">Max</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-warning-gadient" role="progressbar"
                                         style="{{MaxTimeLossBar_2}}" aria-valuenow="25" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-end float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-danger">{{MinimumTimeLoss_2}}</h4>
                                <h6 class="card-subtitle mb-4">Min</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-danger-gadient" role="progressbar"
                                         style="{{MinimumTimeLossBar_2}}" aria-valuenow="65" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
                <div style="{{AlgoNum_2}}">


                    <h4 class="page-heading mb-4">{{Algo_3}}</h4>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-success">{{TotalTimeLoss_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Total</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-success-gadient" role="progressbar"
                                             style="{{TotalTimeLossBar_3}}" aria-valuenow="75" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass-half float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-info">{{AverageTimeLoss_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Average</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-info-gadient" role="progressbar"
                                             style="{{AverageTimeLossBar_3}}" aria-valuenow="40" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass-start float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-warning">{{MaxTimeLoss_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Max</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-warning-gadient" role="progressbar"
                                             style="{{MaxTimeLossBar_3}}" aria-valuenow="25" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass-end float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-danger">{{MinimumTimeLoss_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Min</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-danger-gadient" role="progressbar"
                                             style="{{MinimumTimeLossBar_3}}" aria-valuenow="65" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <br>
                <br>

                <h3 class="page-heading mb-4">Wait Steps</h3>

                <div class="progress progress-slim">
                    <div class="progress-bar bg-success-gadient" role="progressbar" style="width: 100%"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <br>
                <h4 class="page-heading mb-4">{{Algo_1}}</h4>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-success">{{TotalWaitSteps_1}}</h4>
                                <h6 class="card-subtitle mb-4">Total</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-success-gadient" role="progressbar"
                                         style="{{TotalWaitStepsBar_1}}" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-half float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-info">{{AverageWaitSteps_1}}</h4>
                                <h6 class="card-subtitle mb-4">Average</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-info-gadient" role="progressbar"
                                         style="{{AverageWaitStepsBar_1}}" aria-valuenow="40" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-start float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-warning">{{MaxWaitSteps_1}}</h4>
                                <h6 class="card-subtitle mb-4">Max</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-warning-gadient" role="progressbar"
                                         style="{{MaxWaitStepsBar_1}}" aria-valuenow="25" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-end float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-danger">{{MinimumWaitSteps_1}}</h4>
                                <h6 class="card-subtitle mb-4">Min</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-danger-gadient" role="progressbar"
                                         style="{{MinimumWaitStepsBar_1}}" aria-valuenow="65" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="{{AlgoNum_1}}">

                <h4 class="page-heading mb-4">{{Algo_2}}</h4>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-success">{{TotalWaitSteps_2}}</h4>
                                <h6 class="card-subtitle mb-4">Total</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-success-gadient" role="progressbar"
                                         style="{{TotalWaitStepsBar_2}}" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-half float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-info">{{AverageWaitSteps_2}}</h4>
                                <h6 class="card-subtitle mb-4">Average</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-info-gadient" role="progressbar"
                                         style="{{AverageWaitStepsBar_2}}" aria-valuenow="40" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-start float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-warning">{{MaxWaitSteps_2}}</h4>
                                <h6 class="card-subtitle mb-4">Max</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-warning-gadient" role="progressbar"
                                         style="{{MaxWaitStepsBar_2}}" aria-valuenow="25" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-end float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-danger">{{MinimumWaitSteps_2}}</h4>
                                <h6 class="card-subtitle mb-4">Min</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-danger-gadient" role="progressbar"
                                         style="{{MinimumWaitStepsBar_2}}" aria-valuenow="65" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>

</div>
                    <!-- partial -->
                </div>

                <div style="{{AlgoNum_2}}">

                    <h4 class="page-heading mb-4">{{Algo_3}}</h4>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-success">{{TotalWaitSteps_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Total</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-success-gadient" role="progressbar"
                                             style="{{TotalWaitStepsBar_3}}" aria-valuenow="75" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass-half float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-info">{{AverageWaitSteps_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Average</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-info-gadient" role="progressbar"
                                             style="{{AverageWaitStepsBar_3}}" aria-valuenow="40" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass-start float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-warning">{{MaxWaitSteps_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Max</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-warning-gadient" role="progressbar"
                                             style="{{MaxWaitStepsBar_3}}" aria-valuenow="25" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass-end float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-danger">{{MinimumWaitSteps_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Min</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-danger-gadient" role="progressbar"
                                             style="{{MinimumWaitStepsBar_3}}" aria-valuenow="65" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                    <!-- partial -->
                </div>


                <br>
                <br>
                <h3 class="page-heading mb-4">Duration</h3>

                <div class="progress progress-slim">
                    <div class="progress-bar bg-success-gadient" role="progressbar" style="width: 100%"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <br>
                <h4 class="page-heading mb-4">{{Algo_1}}</h4>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-success">{{TotalDuration_1}}</h4>
                                <h6 class="card-subtitle mb-4">Total</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-success-gadient" role="progressbar"
                                         style="{{TotalDurationBar_1}}" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-half float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-info">{{AverageDuration_1}}</h4>
                                <h6 class="card-subtitle mb-4">Average</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-info-gadient" role="progressbar"
                                         style="{{AverageDurationBar_1}}" aria-valuenow="40" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-start float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-warning">{{MaxDuration_1}}</h4>
                                <h6 class="card-subtitle mb-4">Max</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-warning-gadient" role="progressbar"
                                         style="{{MaxDurationBar_1}}" aria-valuenow="25" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-end float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-danger">{{MinimumDuration_1}}</h4>
                                <h6 class="card-subtitle mb-4">Min</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-danger-gadient" role="progressbar"
                                         style="{{MinimumDurationBar_1}}" aria-valuenow="65" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="{{AlgoNum_1}}">

                <h4 class="page-heading mb-4">{{Algo_2}}</h4>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-success">{{TotalDuration_2}}</h4>
                                <h6 class="card-subtitle mb-4">Total</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-success-gadient" role="progressbar"
                                         style="{{TotalDurationBar_2}}" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-half float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-info">{{AverageDuration_2}}</h4>
                                <h6 class="card-subtitle mb-4">Average</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-info-gadient" role="progressbar"
                                         style="{{AverageDurationBar_2}}" aria-valuenow="40" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-start float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-warning">{{MaxDuration_2}}</h4>
                                <h6 class="card-subtitle mb-4">Max</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-warning-gadient" role="progressbar"
                                         style="{{MaxDurationBar_2}}" aria-valuenow="25" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-end float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-danger">{{MinimumDuration_2}}</h4>
                                <h6 class="card-subtitle mb-4">Min</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-danger-gadient" role="progressbar"
                                         style="{{MinimumDurationBar_2}}" aria-valuenow="65" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>

                <div style="{{AlgoNum_2}}">

                    <h4 class="page-heading mb-4">{{Algo_3}}</h4>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-success">{{TotalDuration_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Total</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-success-gadient" role="progressbar"
                                             style="{{TotalDurationBar_3}}" aria-valuenow="75" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass-half float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-info">{{AverageDuration_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Average</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-info-gadient" role="progressbar"
                                             style="{{AverageDurationBar_3}}" aria-valuenow="40" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass-start float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-warning">{{MaxDuration_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Max</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-warning-gadient" role="progressbar"
                                             style="{{MaxDurationBar_3}}" aria-valuenow="25" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass-end float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-danger">{{MinimumDuration_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Min</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-danger-gadient" role="progressbar"
                                             style="{{MinimumDurationBar_3}}" aria-valuenow="65" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <br>
                <br>
                <h3 class="page-heading mb-4">Route Length</h3>

                <div class="progress progress-slim">
                    <div class="progress-bar bg-success-gadient" role="progressbar" style="width: 100%"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <br>

                <h4 class="page-heading mb-4">{{Algo_1}}</h4>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-success">{{TotalRouteLength_1}}</h4>
                                <h6 class="card-subtitle mb-4">Total</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-success-gadient" role="progressbar"
                                         style="{{TotalRouteLengthBar_1}}" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-half float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-info">{{AverageRouteLength_1}}</h4>
                                <h6 class="card-subtitle mb-4">Average</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-info-gadient" role="progressbar"
                                         style="{{AverageRouteLengthBar_1}}" aria-valuenow="40" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-start float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-warning">{{MaxRouteLength_1}}</h4>
                                <h6 class="card-subtitle mb-4">Max</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-warning-gadient" role="progressbar"
                                         style="{{MaxRouteLengthBar_1}}" aria-valuenow="25" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-end float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-danger">{{MinimumRouteLength_1}}</h4>
                                <h6 class="card-subtitle mb-4">Min</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-danger-gadient" role="progressbar"
                                         style="{{MinimumRouteLengthBar_1}}" aria-valuenow="65" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="{{AlgoNum_1}}">

                <h4 class="page-heading mb-4">{{Algo_2}}</h4>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-success">{{TotalRouteLength_2}}</h4>
                                <h6 class="card-subtitle mb-4">Total</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-success-gadient" role="progressbar"
                                         style="{{TotalRouteLengthBar_2}}" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-half float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-info">{{AverageRouteLength_2}}</h4>
                                <h6 class="card-subtitle mb-4">Average</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-info-gadient" role="progressbar"
                                         style="{{AverageRouteLengthBar_2}}" aria-valuenow="40" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-start float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-warning">{{MaxRouteLength_2}}</h4>
                                <h6 class="card-subtitle mb-4">Max</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-warning-gadient" role="progressbar"
                                         style="{{MaxRouteLengthBar_2}}" aria-valuenow="25" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="clearfix">
                                    <i class="fa fa-hourglass-end float-right icon-grey-big"></i>
                                </div>
                                <h4 class="card-title font-weight-normal text-danger">{{MinimumRouteLength_2}}</h4>
                                <h6 class="card-subtitle mb-4">Min</h6>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-danger-gadient" role="progressbar"
                                         style="{{MinimumRouteLengthBar_2}}" aria-valuenow="65" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- partial -->
                </div>
</div>
                <div style="{{AlgoNum_2}}">


                    <h4 class="page-heading mb-4">{{Algo_3}}</h4>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-success">{{TotalRouteLength_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Total</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-success-gadient" role="progressbar"
                                             style="{{TotalRouteLengthBar_3}}" aria-valuenow="75" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass-half float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-info">{{AverageRouteLength_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Average</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-info-gadient" role="progressbar"
                                             style="{{AverageRouteLengthBar_3}}" aria-valuenow="40" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass-start float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-warning">{{MaxRouteLength_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Max</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-warning-gadient" role="progressbar"
                                             style="{{MaxRouteLengthBar_3}}" aria-valuenow="25" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <i class="fa fa-hourglass-end float-right icon-grey-big"></i>
                                    </div>
                                    <h4 class="card-title font-weight-normal text-danger">{{MinimumRouteLength_3}}</h4>
                                    <h6 class="card-subtitle mb-4">Min</h6>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar bg-danger-gadient" role="progressbar"
                                             style="{{MinimumRouteLengthBar_3}}" aria-valuenow="65" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>




            </div>
   <footer class="footer">
                    <div class="container-fluid clearfix">
            <span class="float-right">
                <a href="#">BTW Technologies</a> &copy; 2018
            </span>
                    </div>
                </footer>
        </div>
    </div>
</div>
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
        <script src="../node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NXz9eVnyJOA81wimI8WYE08kW_JMe8g&callback=initMap"
                async defer></script>
        <script src="../js/off-canvas.js"></script>
        <script src="../js/hoverable-collapse.js"></script>
        <script src="../js/misc.js"></script>
        <script src="../js/chart.js"></script>
        <script src="../js/maps.js"></script>

</body>

</html>
