<!--Author: Eylon Shoshan -->
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>BTW - Light The Traffic</title>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js"></script>
      <link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.css"/>
      <link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css"/>


      <link rel="stylesheet"
         href="{{ url_for('static',  filename='node_modules/font-awesome/css/font-awesome.min.css') }}"/>
      <link rel="stylesheet"
         href="{{ url_for('static',  filename='node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css') }}"/>
      <link rel="stylesheet"
         href="{{ url_for('static',  filename='node_modules/flag-icon-css/css/flag-icon.min.css') }}"/>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
      <link rel="shortcut icon" href="{{ url_for('static',  filename='images/favicon.png') }}"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   </head>
   <body>
      <div class=" container-scroller">
         <!-- partial:partials/_navbar.html -->
         <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="bg-white text-center navbar-brand-wrapper">
               <a class="navbar-brand brand-logo" href="index.html"><img src="images/logo_star_black.png"/></a>
               <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo_star_mini.jpg" alt=""></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
               <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3"
                  type="button" data-toggle="minimize">
               <span class="navbar-toggler-icon"></span>
               </button>
               <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
               </ul>
               <button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button"
                  data-toggle="offcanvas">
               <span class="navbar-toggler-icon"></span>
               </button>
            </div>
         </nav>
         <!-- partial -->
         <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-right">
               <!-- partial:partials/_sidebar.html -->
               <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
                  <div class="user-info">
                     <img src="images/face.jpg" alt="">
                     <p class="name">Gal Sade</p>
                     <p class="designation">Traffic Manager</p>
                     <span class="online"></span>
                  </div>
                  <ul class="nav">
                     <li class="nav-item active">
                        <a class="nav-link" href="index.html">
                        <img src="images/icons/1.png" alt="">
                        <span class="menu-title">Simulation Zone</span>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="scheduling.html">
                        <img src="images/icons/6.png" alt="">
                        <span class="menu-title">Scheduling Analysis</span>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="team.html">
                        <img src="images/icons/meet-team.png" alt="">
                        <span class="menu-title">Our Team</span>
                        </a>
                     </li>
                  </ul>
               </nav>
               <!-- partial -->
               <div class="content-wrapper">
                  <h4 class="card-title">
                                <img src="images/icons/custom-icon.png" alt="" height="42" width="42">
                                &nbsp; Map Customization</h4>
                            <br>
                  <div class="card-deck">
                    <div class="card col-lg-12 px-0 mb-4">
                        <div class="card-body">
                            
                            <p class="lead" style="font-size:130%;">Here you can cutomize your own map & simulation.<br>
                                Just choose amount of junctions to be formed in the map and desired amount of cars.<br>
                                Then hit <i><b>create</b></i> button, and a customized simulation set is now ready for usage!<br> </p>
                                <br>
                        </div>
                        <form id="custom-map-form" action="/create_customized_map.html">
                        <div class="text-center">
                      
                       
                     <p id="junctions-amount" class="lead" style="font-size: 120%; text-indent: -5%;">
                        Junctions <br> </p>
                        <input name="junctions-slider" id="junctions-slider" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="20" data-slider-step="1" data-slider-value="{{num_junctions}}" style="width: 30%; height: 60%;"/>
                        <br><br><br><br>
                        <p id="cars-amount" class="lead" style="font-size: 120%; text-indent: -5%;">
                        Cars <br>
                         </p>
                        <input name="cars-slider" id="cars-slider" data-slider-id='ex2Slider' type="text" data-slider-min="10" data-slider-max="300" data-slider-step="1" data-slider-value="{{num_cars}}" style="width: 30%; height: 60%;"/>
                        <br><br><br><br>
                          <button id="create-map" type="submit" class="btn btn-success btn-lg">
                                        <span class="caret"></span>
                                        Create 
                                    </button>
                                    <br><br><br>

                                    <div style="{{display_done}}"> <img src="http://www.stickpng.com/assets/images/5aa78e207603fc558cffbf19.png" alt="" width="5%"> <br> <br> </div>

                                    <div id = "loading-bar" style="display:none" align="center">
                                    <div><img id = "loading-gif" src = "images/loading.gif" height="220" width="220"></div>
                                    <br><div style="font-size:200%">Loading...</div>
                                </div><br>
                        
                     </div>


                     </form>
               </div>
            </div>
         </div>
      </div>
      <script src="node_modules/jquery/dist/jquery.min.js"></script>
      <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
      <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="node_modules/chart.js/dist/Chart.min.js"></script>
      <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NXz9eVnyJOA81wimI8WYE08kW_JMe8g&callback=initMap" async
         defer></script>
      <script src="js/off-canvas.js"></script>
      <script src="js/hoverable-collapse.js"></script>
      <script src="js/misc.js"></script>
      <script src="js/chart.js"></script>
      <script src="js/maps.js"></script>
      <script src="js/schedulers-comparing.js"></script>
      <script>
        // Without JQuery
         var slider = new Slider('#junctions-slider', {
            formatter: function(value) {
               document.getElementById("junctions-amount").innerHTML = "Junctions: " + value;
               return 'Current value: ' + value;
            }
         });
      </script>
       <script>
        // Without JQuery
         var slider = new Slider('#cars-slider', {
            formatter: function(value) {
               document.getElementById("cars-amount").innerHTML = "Cars: " + value;
               return 'Current value: ' + value;
            }
         });
      </script>

      <script type="text/javascript">
         $( "#custom-map-form" ).submit(function( event ) {
          document.getElementById("loading-bar").style.display = "block";
      });</script>

      <script type="text/javascript">
         $( "#loading-gif" ).dblclick(function() {
          var curr = document.getElementById("loading-gif").src;
          if(curr.includes("fortnite")) {
              document.getElementById("loading-gif").src = "images/loading.gif"
          }
          else{
              document.getElementById("loading-gif").src = "images/fortnite_loading.gif" ;
          }
      }); </script>


   </body>
</html>