<!--Author: Eylon Shoshan -->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BTW - Light The Traffic</title>
    <link rel="stylesheet"
          href="{{ url_for('static',  filename='node_modules/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet"
          href="{{ url_for('static',  filename='node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css') }}"/>
    <link rel="stylesheet"
          href="{{ url_for('static',  filename='node_modules/flag-icon-css/css/flag-icon.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static',  filename='images/favicon.png') }}"/>
</head>

<body>
<div class=" container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="bg-white text-center navbar-brand-wrapper">
            <a class="navbar-brand brand-logo" href="index.html"><img src="images/logo_star_black.png"/></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo_star_mini.jpg" alt=""></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3"
                    type="button" data-toggle="minimize">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                <li class="nav-item">
                    <a class="nav-link profile-pic" href="#"><img class="rounded-circle" src="images/face.jpg"
                                                                  alt=""></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-th"></i></a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <!-- partial -->
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:partials/_sidebar.html -->
            <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
                <div class="user-info">
                    <img src="images/face.jpg" alt="">
                    <p class="name">Richard V.Welsh</p>
                    <p class="designation">Traffic Manager</p>
                    <span class="online"></span>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">
                            <img src="images/icons/1.png" alt="">
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="images/icons/10.png" alt="">
                            <span class="menu-title">Settings</span>
                        </a>
                    </li>
                </ul>

            </nav>

            <!-- partial -->
            <div class="content-wrapper">
                <h3 class="page-heading mb-4">Dashboard</h3>


                <div class="card-deck">
                    <div class="card col-lg-12 px-0 mb-4">
                        <div class="card-body">
                            <h4 class="card-title">Simulation Zone</h4>
                            <br>
                            <form action="/run_simulation" target="_blank">
                                <div class="text-center">
                                    <div class="btn-group btn-group-lg" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" checked autocomplete="off" value="cross"
                                                   name="simulation_example"> Single Junction
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" autocomplete="off" value="neighborhood"
                                                   name="simulation_example"> Neighborhood
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" autocomplete="off" value="city"
                                                   name="simulation_example"> Big City
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    &nbsp;
                                </div>
                                <div class="row">
                                    &nbsp;
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success btn-lg">
                                        <span class="caret"></span>
                                        Run Simulation
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="card-deck">
                    <div class="card col-lg-12 px-0 mb-4">
                        <div class="card-body">
                            <h4 class="card-title">Compare Schedulers</h4>
                            <br>
                            <form action="/compare_schedulers" target="_blank">
                                <div class="text-center">
                                    <div class="btn-group btn-group-lg" data-toggle="buttons">
                                        <label class="btn btn-info active">
                                            <input type="checkbox" checked autocomplete="off" value="AdvancedScheduler"
                                                   name="schedulers"> Advanced Scheduler
                                        </label>
                                        <label class="btn btn-info">
                                            <input type="checkbox" autocomplete="off" value="MaxOccupancyScheduler"
                                                   name="schedulers"> Max Occupancy
                                        </label>
                                        <label class="btn btn-info">
                                            <input type="checkbox" autocomplete="off" value="StaticScheduler"
                                                   name="schedulers"> Static Scheduler
                                        </label>
                                    </div>

                                </div>
                                <div class="row">
                                    &nbsp;
                                </div>
                                <div class="text-center">
                                    <div class="btn-group btn-group-lg" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" checked autocomplete="off" value="cross"
                                                   name="simulation_example"> Single Junction
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" autocomplete="off" value="neighborhood"
                                                   name="simulation_example"> Neighborhood
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" autocomplete="off" value="city"
                                                   name="simulation_example"> Big City
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    &nbsp;
                                </div>
                                <div class="row">
                                    &nbsp;
                                </div>
                                <div class="text-center">
                                    <button id="comparealgos" type="submit" class="btn btn-success btn-lg">
                                        <span class="caret"></span>
                                        Compare
                                    </button>
                                </div>
                                <div class="row">
                                    &nbsp;
                                </div>
                                <div class="text-center">
                                    {{ stats_table }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
            <span class="float-right">
                <a href="#">BTW Technologies</a> &copy; 2018
            </span>
                </div>
            </footer>

            <!-- partial -->
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NXz9eVnyJOA81wimI8WYE08kW_JMe8g&callback=initMap" async
        defer></script>
<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/misc.js"></script>
<script src="js/chart.js"></script>
<script src="js/maps.js"></script>
<script src="js/schedulers-comparing.js"></script>

</body>

</html>

